*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
/* ------------------colores------------------- */
.negro{
    background-color: black;
}
.blanco{
    background-color: white;
}
.gris{
    background-color: grey;
}
.beige{
    background-color: beige;
}
.container{
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg,#55acee,#292f33);
    display: grid;
    place-items: center;

    & .tarjeta{
        height: 600px;
        width: 50%;
        max-width: 400px;
        background-color: white;
        border-radius: 20px;
        padding: 8px;
        box-shadow: 15px 15px 50px -3px black;
        
        & .encabezado{
            height: 100px;
            width: 100%;
            background-color: #ccd6d0;
            border-radius: 12px 12px 0 0;
            padding: 10px;
        }
        
        & .producto{
            height: 180px;
            width: 100%;
            background-color: #e1e8ed;
            padding: 10px;

            & .sel_colores{
                display: flex;
                justify-content: center;
                gap: 10px;
                & li{
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    list-style: none;
                }
                & li:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
        
        & .desc_prod{
            height: 230px;
            width: 100%;
            background-color: #55acee;
            padding: 10px;
        }
        
        & .botonera{
            height: 74px;
            width: 100%;
            background-color: #218bdb;
            border-radius: 0 0 12px 12px;
            padding: 10px;
        }
    }
}


